@import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');
@import url('http://allfont.net/allfont.css?fonts=futura-bold');
html {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: 'Ramabhadra', sans-serif; */
  font-family: 'Futura-Bold', arial !important;
}

.home {
  margin-top: 2em;
}

.description {
  padding: 2em;
}

.yes {
  color: #45c640;
}

.no {
  color: #f20a42;
}

.caution {
  color: #f9eb6d;
}
